.header{
    /* position: absolute; */
    background: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #efefef;
}
.header img{
    z-index: 1;
    position: absolute;
    left: 0;
    /* margin: 10px; */
    height: 70px;
}
.header a{
    z-index: 1;
    text-decoration: none;
    margin: 10px;
    color: #000000;
    font-size: 1em;
    font-weight: 500;
    padding: 6px 10px;
}
.header a:hover{
    border-radius: 6px;
    background: rgb(240, 240, 240);
    color: #000;
}
.content-registro{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
}
.form-formulario{
    display: grid;
    border: 1px solid #B0B0B0;
    border-radius: 6px;
    margin: 10px;
    padding: 10px 0px;
    width: 100%;
    max-width: 580px;
}
.form-formulario div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px 20px;
}
.form-formulario div i{
    font-size: 18px;
    color: #bebebe;
    padding: 8px 9px;
    position: absolute;
    left: 4px;
}
.form-formulario header{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    padding: 18px 0px;
    color: #000;
    font-size: 1em;
    font-weight: 650;
}
.form-formulario .spanBienvenida{
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
    font-size: 1.5em;
    line-height: 26px;
    color: #222222;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1px;
}
.form-formulario span{
    margin-left: 10px;
}
.form-formulario .txt{
    padding: 10px 38px;
    border-style: solid;
    border-width: 1px;
    border-color: #bebebe;
    width: 100%;
    font-size: 1.1em;
}
.form-formulario footer{
    display: block;
    justify-content: center;
    margin: 20px;
    text-align: center;
}
.form-formulario footer .btnInicio{
    padding: 10px 20px;
    /* background: #5254ce; */
    background: #ef7da1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-style: none;
    width: 100%;
    transition: all 0.5s ease;
    border-radius: 6px;
    margin-bottom: 10px;
    /* background: linear-gradient(to right, #eb505e 0%, #c75757 50%, #ff0c0c 100%) !important; */
    /* background: linear-gradient(to right, #5254ce 0%, #7476df 50%, #5254ce 100%) !important; */

}
.form-formulario footer span{
    font-size: 12px;
    font-weight: 500;
}
.form-formulario .div-login footer .btnInicio:hover{
    background: #f45f3e;
}
.content-registro .img{
    height: 125px;
    position: absolute;
    bottom: 0px;
}